<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<a href="/">All</a>
<a href="/?category=Furniture">Furniture</a>
<a href="/?type=Alcohol">Alcohol</a>
<a href="/?type=Toiletries">Toiletries</a>
<a href="/?type=Shoes">Shoes</a>
<a href="/?type=Food">Food</a>
<a href="/?type=Jewelry">Jewelry</a>

<br><br>

<table>

    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Category</td>
        <td>Credit Card</td>
        <td>CVV</td>
        <td>Date</td>
    </tr>

    {{#purchases}}
    <tr>
        {{#customer}}
        <td>{{name}}</td>
        <td>{{email}}</td>
        {{/customer}}
        <td>{{category}}</td>
        <td>{{creditCard}}</td>
        <td>{{cvv}}</td>
        <td>{{date}}</td>
    </tr>
    {{/purchases}}

</table>
{{#showNext}}
<a href="/?page={{nextPage}}{{#category}}&category={{.}}{{/category}}">Next</a>
{{/showNext}}
</body>
</html>